body {
    background-color: var(--cinza-claro);
    color: var(--texto);
    margin: 0;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.status-badge {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.85rem;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}

.status-aguardando {
    background-color: #f59e0b;
    /* amarelo */
}

.status-acolhido {
    background-color: #3b82f6;
    /* azul */
}

.status-chamado {
    background-color: #9333ea;
    /* roxo */
}

.status-atendido {
    background-color: #16a34a;
    /* verde */
}

.tabela-wrapper table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.tabela-wrapper th,
.tabela-wrapper td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.acoes a {
    margin: 0 4px;
    text-decoration: none;
    font-size: 1.1rem;
}

.acoes a i {
    transition: transform 0.2s ease;
}

.acoes a:hover i {
    transform: scale(1.1);
}


.main-content {
    flex: 1;
    padding: 30px;
    background-color: var(--branco);
    overflow-x: auto;
}

.main-content h1 {
    margin-top: 0;
    font-size: 24px;
    color: var(--azul-escuro);
}

.filtro-form {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.filtro-form label {
    font-weight: 500;
}

.filtro-form select {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid var(--cinza-medio);
}

.tabela-wrapper {
    overflow-x: auto;
}

#tabela-fichas {
    width: 100%;
    margin-top: 10px;
    min-width: 600px;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    border: 1px solid var(--azul-medio);
    padding: auto 12px;
}


#tabela-fichas th,
#tabela-fichas td {
    padding: 10px 12px;
    border: 1px solid var(--azul-medio);
    text-align: left;
}

#tabela-fichas th {
    background-color: var(--azul-medio);
    color: var(--branco);
}

#tabela-fichas tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tabela-fichas a {
    margin-right: 8px;
    color: var(--azul-escuro);
    text-decoration: none;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }


    .main-content {
        padding: 20px 15px;
    }

    .filtro-form {
        flex-direction: column;
        align-items: flex-start;
    }

    .layout {
        flex-direction: column;
    }



    .main-content {
        padding: 80px 20px 30px;
    }
}

@media (max-width: 480px) {


    .main-content h1 {
        font-size: 19px;
        margin: 0;
    }

    #tabela-fichas {
        font-size: 0.85rem;
    }

    #tabela-fichas th,
    #tabela-fichas td {
        padding: 8px 10px;
    }
}